@import '../../root/variables';


.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  @include for-tablet-landscape-up {
    flex-direction: row;

    &>* {
      width: 50%;
    }
  }


  .picture {
    width: auto;
    height: auto;
    max-width: 100%;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include for-tablet-landscape-up {
      max-width: 50%;
      margin-left: 1rem;
      margin-right: 1rem;
    }

    h2 {
      text-align: center;
    }
  }
}