.hero-image {
  height: 52%;

  img {
    height: auto;
  }
}

.parallax {
  flex: 0 1 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.categories-container {
  flex: 1 1 auto;
}