@import './components/root/variables';

html,
body,
#root {
  width: 100% !important;
  height: 100% !important;
}


html,
body {
  overflow: hidden;
}

#root {
  overflow: auto;
}

.page {
  display: flex;
  flex-flow: column;
  height: calc(100% - #{$header_height});
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.highlight {
  height: 100%;

  & * {
    border: 1px solid red;

  }
}